h1 {
  margin: 0; }

#slide-1 {
  text-align: center; }
  #slide-1 img {
    max-height: 280px; }

#slide-2, #slide-3, #slide-4, #slide-7, #slide-11 {
  text-align: center; }
  #slide-2 a, #slide-3 a, #slide-4 a, #slide-7 a, #slide-11 a {
    display: block; }

#slide-4 img {
  max-width: 200px; }

#slide-5 img {
  display: block;
  margin-top: 10px; }
